{
  "log": {
    "_recordingName": "nhk-tanka crawl",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "91f545c0589340dcf280d5b79be69b72",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://www.nhk.jp/p/ts/JM12GR5RLP/"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 34976,
            "text": "<!doctype html>\n<html data-n-head-ssr lang=\"ja\" data-n-head=\"%7B%22lang%22:%7B%22ssr%22:%22ja%22%7D%7D\">\n  <head >\n    <title>NHK短歌 - NHK</title><meta data-n-head=\"ssr\" charset=\"utf-8\"><meta data-n-head=\"ssr\" name=\"viewport\" content=\"width=device-width, initial-scale=1\"><meta data-n-head=\"ssr\" data-hid=\"description\" name=\"description\" property=\"description\" content=\"全国から寄せられた投稿歌から優れた作品を各週の選者が選び紹介。毎回、魅力的なゲストを招いて楽しく短歌を学ぶ番組。第一週の選者は栗木京子、テーマは「仲間そして私」。第二週の選者は笹公人、テーマは「歌人のグルメ」。第三週の選者は江戸雪、テーマは「恋をしたなら」。第四週の選者は佐佐木定綱、テーマは「短歌というドラマ」。\"><meta data-n-head=\"ssr\" data-hid=\"keywords\" name=\"keywords\" property=\"keywords\" content=\"佐佐木定綱[...]
